In [11]:
# Load data
import pandas as pd
import numpy as np
data = pd.read_table('transfusion.data.txt', header='infer',sep=',')

In [12]:
# checking data
data[0:3]

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1

In [13]:
# dimension of data
data.shape

(748, 5)

In [14]:
# missing value in data
data.isna().sum()

Recency (months)                              0
Frequency (times)                             0
Monetary (c.c. blood)                         0
Time (months)                                 0
whether he/she donated blood in March 2007    0
dtype: int64

In [15]:
# columns in data
data.columns

Index(['Recency (months)', 'Frequency (times)', 'Monetary (c.c. blood)',
       'Time (months)', 'whether he/she donated blood in March 2007'],
      dtype='object')

In [20]:
# changing column names
data.columns = ['Recency', 'Frequency', 'Monetary','Time', 'Response']

In [21]:
# checking data
data[0:3]

   Recency  Frequency  Monetary  Time  Response
0        2         50     12500    98         1
1        0         13      3250    28         1
2        1         16      4000    35         1

In [28]:
# no. 0 & 1 in response variable 
data.Response.value_counts()

0    570
1    178
Name: Response, dtype: int64

In [42]:
# separating data as train & test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data,data.Response, test_size=0.3, random_state=123)

In [43]:
x_train[0:3]

     Recency  Frequency  Monetary  Time  Response
240        8          8      2000    52         1
100        4          8      2000    34         1
625        7          5      1250    35         0

In [44]:
x_test[0:3]

     Recency  Frequency  Monetary  Time  Response
138        9          5      1250    19         0
511        2         11      2750    26         0
427       14          5      1250    74         0

In [45]:
y_train[0:3]

240    1
100    1
625    0
Name: Response, dtype: int64

In [46]:
y_test[0:3]

138    0
511    0
427    0
Name: Response, dtype: int64

In [47]:
#Applying model
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [49]:
# prediction
pred = clf.predict(x_test)
pred[0:3]

array([0, 0, 0], dtype=int64)

In [51]:
# metrics
from sklearn import metrics
metrics.confusion_matrix(y_test, pred)

array([[165,   0],
       [  0,  60]], dtype=int64)

In [52]:
metrics.accuracy_score(y_test, pred)

1.0